* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Do Hyeon', sans-serif; */
  /* font-family: 'Inconsolata', monospace; */
}
button,
a {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.container {
  /* background-image: url('../img/5.jpg'); */
  width: 100%;
  min-height: 937px;
  display: flex;
  justify-content: center;
}
.main {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

/* main top */
.main_top {
  /* box-sizing: border-box; */
  /* background-color: #aaa; */
  flex: 0 0 auto;
  display: flex;
  flex-flow: row nowrap;
  /* position: relative; */
  height: 60px;
  justify-content: flex-end;
  align-items: flex-end;
}
.jquery_weather {
  background-color: rgba(255, 192, 203, 0.192);
  /* width: 100px; */
}
.json_weather {
  background-color: rgba(135, 207, 235, 0.26);
  /* width: 100px; */
}
.main_top_top,
.main_top_top1 {
  /* display: flex; */
  vertical-align: center;
  display: flex;
  flex-flow: row nowrap;
}
/* img {
  border: 1px solid yellow;
  width: 20px;
  height: 40px;
  margin: 0;
  padding: 0;
} */
.weather_icon,
.weather_icon1 {
  /* display: inline-block; */
  /* position: absolute;
  top: 0;
  right: 40px; */
  margin: 0;
  padding: 0;
}

.main_top_bottom,
.main_top_bottom1 {
  padding-right: 5px;
  color: #fff;
}
#city_name1 {
  width: 104%;
  font-family: 'Inconsolata', monospace;
}
select {
  /* background-color: tomato; */
  border: none;
  border-radius: 5px;
}
option {
  background-color: #fff;
}
.c_temp,
.c_temp1 {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
.c_temp::after,
.c_temp1::after {
  content: '°';
}

/* main middle */
.gap1,
.gap2 {
  display: flex;
  /* flex: 1 1 50%; */
  flex: 1;
  color: #fff;
  flex-flow: column nowrap;
  align-items: center;
  /* justify-content: center; */
}
.time_zone {
  /* background-color: pink; */
  position: relative;
}
.page_btn > a {
  background-color: rgba(255, 255, 255, 0.233);
  display: inline-block;
  padding: 0px 13px 8px 13px;
  font-weight: bold;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-size: 30px;
  text-align: center;
  border-radius: 30%;
}
.page_btn > a:hover {
  background-color: #fff;
  color: #000;
}
.left_page_btn {
  position: absolute;
  left: 15px;
  top: 50%;
  cursor: not-allowed;
}
.right_page_btn {
  position: absolute;
  right: 15px;
  top: 50%;
}
.searchEn {
  font-family: 'Do Hyeon', sans-serif;
  width: 90px;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}
.searchEn:hover {
  background-color: #000;
  color: #eee;
}
.gap2 > div > div {
  display: flex;
  margin: 0 auto;
}
.submit_btn {
  cursor: pointer;
}
/* focus today todo, 포커스 투데이, 오늘 할 일 */
.focus_today_wrap {
  font-family: 'Do Hyeon', sans-serif;
  margin-top: 40px;
  font-size: 35px;
  font-weight: bold;
}
.focus_today_input {
  display: flex;
  width: 100%;
  border: none;
  border-bottom: 3px solid #fff;
  background: none;
  padding: 5px 3px;
  font-size: 35px;
  color: #fff;
  text-align: center;
}
.focus_today_input:focus {
  outline: none;
}
.focus_today_wrap > label {
  line-height: normal;
}
.moreBtn {
  margin-left: 20px;
}
.moreBtn > button {
  cursor: pointer;
  padding: 2px 8px;
  margin-left: 5px;
  border: 1px solid #000;
}
.moreBtn > button:hover {
  background-color: #aaa;
  border: 1px solid #000;
  border-radius: 5px;
}
/* 현재시간24, 12 */
.clock_button_wrap {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock_button_wrap > .time {
  padding: 10px 10px;
  margin: 0 5px;
}
.clock_wrap {
  font-family: 'Do Hyeon', sans-serif;
  position: relative;
}
.change_clock_bnt {
  position: absolute;
  top: -20px;
  left: 50%;
  right: 50%;
  padding: 5px 10px;
  padding-right: 25px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  background-color: #eee;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.change_clock_bnt:hover {
  background-color: #fff;
  color: #000;
}
.digital24_clock {
  /* display: none; */
  /* border: 1px solid #000; */
  font-size: 1050%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  color: #fff;
}
.digital12_clock {
  /* display: none; */
  /* border: 1px solid #000; */
  font-size: 1050%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  color: #fff;
}
/* 현재시간 아날로그시간 analog */
.analog_clock {
  height: 224px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.analog_clock_wrap {
  /* display: none; */
  width: 130px;
  height: 130px;
  position: relative;
  padding: 2rem;
  border: 5px solid #a39f9f;
  border-radius: 50%;
  margin: 15px auto;
}
.analogT {
  width: 50px;
  right: 50%;
  height: 6px;
  background: #61afff;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  transform-origin: 100%;
  transform: rotate(90deg);
}
.hour_time {
  width: 30px;
}
.minute_time {
  height: 3px;
  width: 40px;
}
.second_time {
  background: #ee791a;
  width: 45px;
  height: 2px;
}
.active {
  display: block;
}
.hiddenClock {
  display: none;
}
/* 시간대별 인사 */
.greeting_time_user {
  font-family: 'Do Hyeon', sans-serif;
  /* font-family: 'Inconsolata', monospace; */
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.user_set {
  margin-left: 10px;
}
.ts {
  font-size: 30px;
  color: #fff;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.username {
  margin-right: 10px;
}
.user_name_input {
  font-family: 'Inconsolata', monospace;
  width: 250px;
  outline: none;
  border: none;
  background-color: unset;
  padding-left: 10px;
}
.user_name_input::placeholder {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.user_name_input:focus {
  outline: none;
  background-color: #aaa;
}
.wrap_username {
  display: flex;
}
.username_moreBtn > button {
  cursor: pointer;
  padding: 2px 8px;
  margin-left: 5px;
  border: 1px solid #000;
}
.username_moreBtn > button:hover {
  background-color: #aaa;
  border: 1px solid #000;
  border-radius: 5px;
}
/* .main_bottom === footer */
footer {
  height: 60px;
  /* background-color: #eee; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 만든사람, 명언 */
.who_made,
.famous_saying {
  font-size: 18px;
  color: #fff;
}
/* -------------------------------------------------------------------------------------- */
/* todos 할 일 목록*/
.todos_container {
  position: relative;
}
.main_todos {
  opacity: 1;
  display: block;
  display: flex;
  flex-flow: column nowrap;
  background-color: #ccc;
  width: 400px;
  height: 300px;
  position: absolute;
  bottom: 66px;
  right: 0;
  /* padding: 20px; */
  /* border: 2px dashed blue; */
  justify-content: flex-end;
  transition: opacity 0.2s ease-in;
  border-radius: 15px;
  /* border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px; */
}
.hidden {
  display: none;
  opacity: 0;
  transition: opacity, 0.2s ease-out;
}
.todos_list_area {
  /* border: 1px solid green; */
  min-height: 210px;
  overflow: auto;
  margin: 10px 0;
  width: 100%;
  padding: 0 20px;
}
.input_area {
  display: flex;
  /* border: 1px solid red; */
  height: auto;
  /* border: 2px solid #000; */
  /* margin-bottom: 10px; */
  width: 100%;
  border-radius: 25px;
  border: 3px solid yellowgreen;
}
.todos {
  list-style-type: none;
  padding: 0;
}
.input_todo {
  padding: 5px 4px;
  font-size: 18px;
  width: 100%;
  margin-left: -30px;
  /* margin-bottom: 20px; */
  border: none;
  padding-left: 40px;
  border-radius: 50px;
}

.add_todo {
  border: none;
  font-size: 18px;
  font-weight: 600;
  height: 100%;
  width: 30px;
  border-radius: 50px;
  z-index: 1;
}
.todos > li {
  /* font-family: 'Inconsolata', monospace; */
  font-family: 'Do Hyeon', sans-serif;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  width: 350px;
}
.todos > li > .wrap_label > .text_label {
  display: inline-block;
  width: 200px;
  padding: 0 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.todos > li > .wrap_label > input[type='checkbox']:checked + .text_label,
.focus_today_wrap > label > input[type='checkbox']:checked + span {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);
}
input[type='checkbox'] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 5px;
  margin-right: 10px;
}
.todo_title {
  border: none;
  background-color: #eee;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  color: #bbb;
  padding: 5px 10px;
  border-radius: 10px;
}
.todo_title:hover {
  background-color: #000;
  color: #eee;
}
.wrap_label {
  position: relative;
}

.wrap_label > input[type='text'] {
  display: none;
}

.text_input {
  width: 200px;
  position: absolute;
  left: 25px;
  top: 2px;
  font-size: 18px;
}
.modify,
.remove {
  padding: 3px 5px;
  cursor: pointer;
  font-size: 11px;
  border: 1px solid #eee;
  border-radius: 10px;
}
.remove {
  margin-left: 5px;
}
.edit_mode .wrap_label > input[type='text'] {
  display: block;
}
.edit_mode .text_label {
  display: none;
}
.modify:hover {
  background-color: aquamarine;
  border: none;
  border: 1px solid aqua;
}
.remove:hover {
  background-color: tomato;
  border: none;
  border: 1px solid red;
}
